<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahul.android.payment"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/billremind"
        android:label="Payment Reminder"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">

        </activity>
        <activity
            android:name=".OcrCaptureActivity"
            android:label="Scan your bill" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" />
        <activity
            android:name=".ContentViewActivity"
            android:label="@string/title_activity_content_view" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name="Notification.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="me.proft.alarms.ACTION_ALARM" />
            </intent-filter>
        </receiver>

        <activity android:name=".TabActivity">

        </activity>
        <activity android:name=".ReportActivity" />
        <activity
            android:name=".EditDetails"
            android:label="@string/title_activity_edit_details" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>